.card-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center; }
  .card-container .card {
    display: flex;
    text-align: center;
    margin: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; }
    .card-container .card:hover {
      box-shadow: 2px 2px 2px 2px black; }
    .card-container .card img {
      width: 20rem; }
    .card-container .card p {
      color: black;
      font-weight: bold;
      background-color: rgba(128, 128, 128, 0.222); }
  .card-container h3 {
    font-size: 24px; }

.destinos {
  text-align: center; }
  .destinos h1 {
    display: none;
    font-size: 45px;
    font-weight: bold; }
  .destinos h2 {
    font-size: 32px; }
  .destinos h3 {
    font-size: 24px; }

.home img {
  width: 100%; }

input {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: center; }

.container-fluid.navegador .logo {
  width: 8rem; }

#navbarNav {
  justify-content: end; }

@media screen and (max-width: 768px) {
  #navbarNav {
    text-align: center;
    font-size: larger; } }

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("../img/otros-destinos/nws-st-brazil-beach-buzios.jpg");
  height: calc(100vh - 59px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .hero h2 {
    font-weight: bold; }

.unitem {
  margin: 0px 10px; }

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 50px; }
  @media (max-width: 768px) {
    .hero {
      align-items: center; } }

.hero-text {
  color: white;
  text-align: center; }
  .hero-text p {
    font-size: 20px; }

.navbar.buscador {
  background-color: #4b4b4b;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 16rem;
  margin: 20px;
  margin-top: 4rem; }
  .navbar.buscador .container-fluid.buscador {
    display: flex;
    flex-direction: column; }
  .navbar.buscador .d-flex {
    justify-self: center; }
    .navbar.buscador .d-flex input {
      justify-self: center;
      align-self: center;
      width: 16rem; }
    .navbar.buscador .d-flex .btn {
      color: white;
      border: black;
      background-color: #FF3D00; }
  .navbar.buscador h4 {
    color: white;
    text-align: center; }

main h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 32px; }

@media screen and (max-width: 768px) {
  .navbar.buscador {
    display: flex;
    align-items: flex-start;
    margin-inline: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 18rem; } }

main h1 {
  text-align: center; }

.promociones-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.p-card-promociones {
  border: 1px solid black;
  margin: 16px;
  position: relative;
  width: 300px;
  height: 300px;
  color: white;
  cursor: pointer;
  transition: 2s;
  transform-style: preserve-3d; }
  .p-card-promociones:hover {
    transform: rotateY(0.5turn); }
  .p-card-promociones .card-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 1s ease-in-out; }
    .p-card-promociones .card-face img {
      width: 300px;
      height: 300px;
      object-fit: cover; }
    .p-card-promociones .card-face .card-face--back {
      background-color: #c1bfbf;
      text-align: center;
      color: black; }
    .p-card-promociones .card-face--back {
      transform: rotateY(0.5turn); }

.card-face--back {
  background-color: #c1bfbf;
  text-align: center;
  color: black; }

@media screen and (min-width: 200px) and (max-width: 768px) {
  .promociones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; }
  .p-card-promociones {
    width: 300px;
    height: 300px; } }

.container-padre-agencia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .container-padre-agencia .card-agencia {
    width: 26rem;
    height: 32rem;
    margin: 16px; }
    .container-padre-agencia .card-agencia .text {
      padding: 24px; }
    .container-padre-agencia .card-agencia p {
      font-size: 18px; }
      .container-padre-agencia .card-agencia p span {
        font-weight: bold; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .container-padre-agencia {
    display: flex;
    flex-direction: column;
    align-content: center; }
    .container-padre-agencia .card-agencia {
      width: 20rem;
      margin: 10px; } }

h1 {
  text-align: center; }

.container-nosotros {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center; }

.main-nosotros h1 {
  display: none; }

.container-nosotros article {
  line-height: 16px;
  padding: 12px;
  font-size: 24px;
  color: black;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start; }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .container-nosotros article {
      line-height: 24px; } }

.container-nosotros p {
  line-height: 16px;
  padding: 12px;
  font-size: 24px;
  color: black; }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .container-nosotros p {
      line-height: 24px; } }

.container-nosotros p {
  line-height: 24px; }

.container-nosotros h2 {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  font-size: 32px;
  color: black;
  font-weight: bold; }
  @media screen and (max-width: 768px) {
    .container-nosotros h2 {
      display: flex;
      flex-direction: column;
      text-align: center; } }

.icons-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 150px; }
  .icons-nosotros article {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .icons-nosotros article img {
      align-self: center;
      width: 120px; }
    .icons-nosotros article p {
      text-align: center;
      font-weight: bold;
      color: #FF3D00;
      font-size: 20px;
      padding: 5%; }
  @media screen and (max-width: 768px) {
    .icons-nosotros {
      display: flex;
      flex-direction: column; } }

footer {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: auto;
  background-color: #4B4b4b;
  height: auto;
  color: white;
  margin-top: 120px; }
  footer .redes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    footer .redes button {
      background: none;
      border: none;
      height: auto; }
      footer .redes button img {
        width: 32px; }
    footer .redes ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0px;
      padding: 0px;
      border: 0px; }

p {
  font-size: 20px; }

h6 {
  font-size: 24px; }

.menu-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 16px; }
  .menu-footer ul {
    line-height: 12px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .menu-footer ul li {
      list-style: none; }
      .menu-footer ul li a {
        font-size: 20px;
        text-decoration: none;
        color: white; }
  .menu-footer img {
    width: 150px; }

.newsletter {
  width: 20rem;
  height: 19rem;
  display: flex;
  flex-direction: column;
  justify-self: flex-end; }
  .newsletter .container.news {
    padding: 20px;
    background-color: transparent; }
  .newsletter input[type=text] {
    width: 100%;
    height: 32px;
    text-align: start; }
  .newsletter input[type=submit] {
    text-align: center;
    width: 100%;
    height: 40px;
    margin: 8px 0;
    box-sizing: border-box; }
  .newsletter input[type=submit] {
    background-color: #FF3D00;
    color: white;
    border: none;
    text-align: center; }
  .newsletter input[type=submit]:hover {
    opacity: 0.8; }
  .newsletter h6 {
    font-size: 32px;
    color: white; }
  .newsletter p {
    font-size: 20px;
    color: white; }

@media screen and (min-width: 200px) and (max-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 33%);
    height: 100vh; }
    footer .newsletter {
      justify-self: center; }
    footer .redes {
      justify-self: center; }
    footer .menu-footer {
      justify-self: center; } }

.container-nosotros {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center; }
