@import "./variables/variables";
.container-nosotros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 40px;
    font-family: $tipo-de-letra;
background-image:  linear-gradient(rgba(86, 86, 86, 0.2), rgba(0, 0, 0, 0.1) ), url(../img/destinos-ar/alex-wolowiecki-N3K40CpNir4-unsplash.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
