@import "./variables/variables";
@mixin xxs {
  @media (max-width: 320px) {
    @content;
  }
}
@mixin xs {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin md {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin lg {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin titulo-nosotros{
  margin-top: 64px;
  display: flex;
  flex-direction: row;
font-size: 32px;
color: black;
font-weight: bold;

}
@mixin parrafo {
  line-height: 40px;
  margin-top: 32px;
  margin-bottom: 64px;
  font-size: 20px;
  color: black;
}
@mixin icons-nosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 150px;
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            align-self: center;
            width: 120px;
        }
        p{ text-align: center;
            font-weight: bold;
            color: $naranja;
            font-size: 20px;
            padding: 5%;
        }
    }
    @media screen and (max-width:768px) {
      display: flex;
      flex-direction: column;

    }
}