@import "./variables/variables";
@mixin xxs {
  @media (max-width: 320px) {
    @content;
  }
}
@mixin xs {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin md {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin lg {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin titulo-nosotros{
  display: flex;
  flex-direction: row;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 50px;
font-weight: bolder;
color: white;
}
@mixin parrafo {
  font-size: 35px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(255, 255, 255);
}
@mixin cards{

}