.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 5px;
  padding: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card-container .card:hover {
  -webkit-box-shadow: 2px 2px 2px 2px black;
          box-shadow: 2px 2px 2px 2px black;
}

.card-container .card img {
  width: 20rem;
}

.card-container .card h5 {
  font-weight: bold;
}

h3 {
  color: white;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 40px;
  background-color: #005a9e;
}

h4 {
  color: white;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 40px;
  background-color: #930001;
}

.home img {
  width: 100%;
}

.div-buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-fluid.navegador .logo {
  width: 8rem;
}

header {
  padding: 0 30px;
}

#navbarNav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media screen and (max-width: 768px) {
  #navbarNav {
    text-align: center;
    font-size: larger;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.1))), url("../img/otros-destinos/nws-st-brazil-beach-buzios.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("../img/otros-destinos/nws-st-brazil-beach-buzios.jpg");
  height: calc(100vh - 59px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero h2 {
  font-weight: bold;
}

.unitem {
  margin: 0px 10px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 50px;
}

@media (max-width: 768px) {
  .hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero-text {
  color: white;
  text-align: center;
}

.hero-text p {
  font-size: 20px;
}

.container-promociones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-promociones .card.card-promociones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 1rem;
  width: 20rem;
  margin: 2rem;
}

.container-promociones .card.card-promociones:hover {
  -webkit-box-shadow: 2px 2px 2px 2px rgba(21, 255, 0, 0.396);
          box-shadow: 2px 2px 2px 2px rgba(21, 255, 0, 0.396);
}

.container-padre-agencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container-padre-agencia .card-agencia {
  width: 20rem;
  height: 20rem;
  text-align: center;
  background-image: url("../img/otros-destinos/agencia-viajes.jpg");
  background-size: cover;
  background-position: center;
}

.container-nosotros {
  background-color: #5dde5d;
  font-size: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.838);
  height: 25vh;
  color: white;
}

footer a {
  color: black;
  text-decoration: none;
}

footer button {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 20vw;
  height: 5vh;
  background-color: white;
  margin: 10px;
}

.container-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  font-family: verdana;
  font-size: 20px;
  margin: 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-nosotros img {
  width: 100%;
  height: 60vh;
}
/*# sourceMappingURL=main.css.map */