$size:20px;
$fondo-de-color: rgb(236, 165, 10);
$ancho: 90%;
$blue:  #005a9eb1;
$green: rgb(93, 222, 93);
$red: rgb(92,300,93);
$h1Desktop: 25px;
$h1Mobile: 18px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
$tipo-de-letra: Verdana;
$letranosotros: Arial, sans-serif;
$alinear-al-centro: center;
$anchoimagen:50%;
$alturaimagen: auto;
$colornosotros:rgb(0, 136, 255);
$precio: bold;
