$size:20px;
$fondo-de-color: rgb(236, 165, 10);
$ancho: 90%;
$blue: #4285f4;
$green: rgb(93, 222, 93);
$red: rgb(92,300,93);
$h1Desktop: 25px;
$h1Mobile: 18px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
$tipo-de-letra: verdana;
$alinear-al-centro: center;
$anchoimagen:100%;
$alturaimagen: 60vh;
$colornosotros:rgb(0, 136, 255);