.container-padre-agencia {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   @media screen and (max-width:768px) {
      display: flex;
      flex-direction: column;
      .card-agencia{
         margin-top: 12px;
         margin-bottom: 12px;
      }
   }

   .card-agencia {
      width: 26rem;
      height: 32rem;

      .text {
         padding: 24px;
      }

      p {
         font-size: 18px;

         span {
            font-weight: bold;
         }
      }

      h5 {
         margin: 12px;
         font-size: 28px;
      }
   }

}
