@import "../maps";
@import "../extend";

.container-nosotros{
    display: flex;
    flex-direction: column;
    justify-content:center;
justify-items: center;
    background-color: map-get($nosotros, color );
    font-size: map-get($nosotros, size );
article{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    img{
        width: 100%;
        height: 70vh;
    }
}
h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
p{
    color: white;
    font-size: $size;
}
@include sm{
    text-align: center;
}
}