@import "../maps";
@import "../extend";
@import "../mixins";
@import "../variables/variables";

.main-nosotros {
    h1 {
        display: none;
    }
}
.container-nosotros {
    article {
        @include parrafo;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
    }
    p {
        @include parrafo;
    }

    p {
        line-height: 24px
    }

    h2 {
        @include titulo-nosotros;

        @media screen and (max-width:768px) {

            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}
.icons-nosotros {
    @include icons-nosotros;

}
