@import "../maps";
@import "../extend";
@import "../mixins";
@import "../variables/variables";

.container-nosotros {
    @extend .container-nosotros;
    font-size: map-get($nosotros, size);

    article {
        padding: 20px;
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;

        img {
            width: $anchoimagen;
            height: $alturaimagen;

            @media screen and (max-width:768px) {
                width: 20rem;
                height: auto;
            }
        }
        @media screen and (max-width:768px) {
         padding: 0%;
         flex-direction: column;
         flex-grow: 2;
         background-size: 100%;
        }
    }

    h2 {
        @include titulo-nosotros;

        @media screen and (max-width:768px) {
            font-size: 30px;
            display: flex;
            flex-direction: row;

        }
    }

    p {
        @include parrafo;
    }
   
}
