@import "../variables/variables";

.card-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;

    .card {
        display: flex;
        text-align: center;
        width: 20rem;
        margin: 8px;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;

        &:hover {
            box-shadow: 2px 2px 2px 2px black;
        }

        img {
            width: 100%;
        }

        p {
            color: black;
            font-weight: bold;
            background-color: rgba(128, 128, 128, 0.222);
        }
    }

    h3 {
        font-size: 24px;
    }
}

.destinos {
    h1 {
        display: none;
        font-size: 45px;
        font-weight: bold;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    text-align: center;
}
@media screen and (min-width:320px) and (max-width:768px) {

}