footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.838);
    height: 20vh;
color: white;
    a {
        color: black;
        text-decoration: none;
    }
button{
    justify-self: center;
    width: 20vw;
    height:  5vh;
    background-color:white;
}
@include sm{

}
}
