@import "../mixins";
.home {
  img {
    width: 100%;
  }

}

input {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: center;
}
.container-fluid.navegador {
  .logo {
    width: 8rem;
  }
}


#navbarNav {
  justify-content: end;
}
@media screen and (max-width:768px) {
  #navbarNav{
 text-align: center;
 font-size: larger;
  }
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0.4, 0.4), rgba(0, 0, 0, 0.1)),
    url("../img/otros-destinos/nws-st-brazil-beach-buzios.jpg");
  height: calc(100vh - 59px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  h2{
    font-weight: bold;
  }
}
.unitem {
  margin: 0px 10px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 50px;
  @include sm {
    align-items: center;
  }
}
.hero-text {
  color: white;
  text-align: center;
  p {
    font-size: 20px;
  }
}
.navbar.buscador {
  background-color: lightgrey;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height:16rem;
  margin: 24px;
  margin-top: 4rem;
  .container-fluid.buscador {
    display: flex;
    flex-direction: column;
  }

  .d-flex {
    justify-self: center;

    input {
      justify-self: center;
      align-self: center;
      width: 16rem;
    }

    .btn {
      color: white;
      border: black;
      background-color: #FF3D00;
    }
  }

  h3 {
    color: black;
    text-align: center;
  }

}


@media screen and (max-width:768px) {
  .navbar.buscador{
    height: 18rem;
  }
}